name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # Permite ejecutar manualmente

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Fix gradlew permissions and line endings
      run: |
        sudo apt-get update -y && sudo apt-get install -y dos2unix
        dos2unix gradlew gradlew.bat
        chmod +x gradlew
    
    - name: Build with Gradle
      run: ./gradlew build

    - name: Build APK
      run: ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-debug.apk
        path: app/build/outputs/apk/debug/app-debug.apk
